@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  /* Change Font */
  font-family: "Roboto", sans-serif;

  /* Remove Margin */
  margin: 0;
}

/* Main Content */

body {
  background-color: #000000;
}

.Content {
  /* Set Size */
  width: 300px;
  height: 500px;

  /* Set Background */
  border-radius: 8px;
  background-color: #202020;

  /* Center the div */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

/* Headers */

h1 {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 84px;

  /* Set Color to Green*/
  color: #2dd555;

  /* Center the text */
  text-align: center;
}

h2 {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 42px;

  /* Set Color to Mint Green*/
  color: #6cda50;

  /* Center the text */
  text-align: center;
}

h3 {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;

  /* Set Color to Light Gray*/
  color: #cccccc;

  /* Center the text */
  text-align: center;
}

/* Text */

p {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  /* Set Color to Gray*/
  color: #585858;
}

.error {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  /* Set color to Red */
  color: Red;
}

b {
  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  /* Set Color to Gray*/
  color: #585858;
}

/* Buttons */

.button {
  /* Set Border */
  border-radius: 2px;
  border: 2px solid #2dd555;

  /* Change Transition Duration */
  transition-duration: 0.4s;

  /* Set Background color to White */
  background-color: white;

  /* Set text color to Gray*/
  color: #585858;
}

.button:hover {
  /* When loginButton is hovered over change background to Green */
  background-color: #2dd555;
}

.secondaryButton {
  /* Set Border */
  border-radius: 2px;
  border: 2px solid #7c7c7c;

  /* Change Transition Duration */
  transition-duration: 0.4s;

  /* Set Background color to White */
  background-color: white;

  /* Change Font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.secondaryButton:hover {
  /* When secondaryButton is hovered over change background to Light Gray */
  background-color: #7c7c7c;

  /* Change the text color to white so its readable */
  color: #ffffff;
}

/* Images */
img {
  border-radius: 8px;
}

#albumCover {
  /* Set the size of the image */
  width: 250px;
  height: auto;

  /* Center the image in the div */
  display: block;
  margin: 25px auto 10px;
}

/* Tables */

table {
  font-family: Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-weight: 300;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableHeader {
  font-weight: bold;
}

/* Star Rateing */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.rating-group {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
}

/* make hover effect work properly in IE */
.rating__icon {
  pointer-events: none;
}

/* hide radio inputs */
.rating__input {
  position: absolute !important;
  left: -9999px !important;
}

/* hide 'none' input from screenreaders */
.rating__input--none {
  display: none;
}

/* set icon padding and size */
.rating__label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

/* set default star color */
.rating__icon--star {
  color: orange;
}

/* if any input is checked, make its following siblings grey */
.rating__input:checked ~ .rating__label .rating__icon--star {
  color: #ddd;
}

/* make all stars orange on rating group hover */
.rating-group:hover .rating__label .rating__icon--star {
  color: orange;
}

/* make hovered input's following siblings grey on hover */
.rating__input:hover ~ .rating__label .rating__icon--star {
  color: #ddd;
}
